* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  width: 80%;
  margin: 100px auto;
  background-color: #fffbff;
  box-shadow: 0 3px 4px 3px #ccc;
}

.task-lists {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.add-part {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#input-task {
  border: none;
}

.opacity {
  opacity: 0.5;
  font-weight: 400;
}

.btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: none;
  background-color: #fffbff;
  font-weight: 100;
  opacity: 0.5;
}

.clear-btn {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 100%;
  height: 40px;
  background-color: #ddd;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 100;
  opacity: 0.5;
}

.part {
  height: 40px;
  padding-left: 16px;
  padding-right: 10px;
  border-bottom: 1px solid #ddd;
}
